<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/asian.css">
    <title>Indian Stocks Page</title>
</head>

<header>

    <nav>
        <ul>

            <li><img src="/assets/logo.png" alt="Logo"></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/index">Home</a></li>
            <li> <a href="/news">Stocks News</a></li>
            <li> <a href="/sitemap">Sitemap</a></li>
        </ul>
    </nav>
</header>



<body onload="getDaily();getDaily1();getDaily2()">
    <main>

        <!-- <button onclick="getDaily1()">Get latest Price!</button> -->
        <span>India</span>
        <div class="container">

            <div id="one">Reliance Industries</div>
            <div id="two">Tata Consultancy services</div>
            <div id="three">Hdfc Bank</div>
            <div id="four">Icici Bank</div>
            <div id="five">Hindustan Unilever Ltd</div>
        </div>

        <!-- <button onclick="getDaily2()">Get latest Price!</button> -->
        <span>Japan</span>

        <div class="container1">

            <div id="eleven">Toyota</div>
            <div id="twelve">Sony</div>
            <div id="thirteen">Keyence</div>
            <div id="fourteen">NTT</div>
            <div id="fifteen">Mitsubishi UFJ Financial</div>
        </div>
        </div>
        <!-- <button onclick="getDaily3()">Get latest Price!</button> -->
        <span>China</span>

        <div class="container1">

            <div id="six">Tencent</div>
            <div id="seven">Kweichow Moutai

            </div>

            <div id="eight">Alibaba</div>
            <div id="nine">ICBC</div>
            <div id="ten">Petrochina</div>

        </div>
        </div>
    </main>

    <footer>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="/index">1</a>
            <a href="/news">2</a>
            <a href="/sitemap">3</a>

            <a href="#">&raquo;</a>

        </div>
    </footer>
    <script src="/js/asian.js"></script>


</body>

</html>