body {
    width: 100vw;
    height: 200vh;
    background-color: #13113C;
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

img {
    width: 9vw;
    height: 5vh;
    border-radius: 10px;
}

img:hover {
    border-radius: 20px;
    box-shadow: 1px 1px 9px yellow;
    transition: 600ms;
    cursor: pointer;
    border-color: white;
}

header {
    width: 90vw;
    border: 2px solid white;
    margin: 0 0 10px 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 21px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 10px;
}

a {
    color: #337ab7;
}

.chart {
    width: 80vw;
    height: 80vh;
}

.question-mark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    cursor: pointer;
}

.explanation {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.question-mark:hover+.explanation {
    display: block;
}

h1 {
    text-align: center;

}

div {
    margin: 10px 0;
}

label {
    margin-right: 10px;
}

.chartContainer,
.chart1,
.chart {

    background-color: white;
    border: 1px solid #ccc;
    width: 500px;
    height: 300px;
    border-radius: 5px;


}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;

    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

a:hover,
a:active {
    text-decoration: underline;
    color: yellow;
    transition: 600ms;
}


.pagination {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Updated to center vertically */
    margin-top: auto;
    /* Push pagination to the bottom */
    padding-top: 10px;
    /* Add some space between content and pagination */
}

.pagination a {
    color: #337ab7;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

button {

    color: #337ab7;
    border: 2px solid white;
    background-color: #13113C;
    border-radius: 5px;
}

button:hover,
button:active {

    color: yellow;
    transition: 600ms;
}



button:hover {
    transition: 600ms;
    border-radius: 10px;
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    /* Adjust navigation menu for smaller screens */
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    /* Adjust chart containers for smaller screens */
    .charts {
        display: flex;
        flex-direction: column;
    }

    .chartContainer,
    .chart,
    .chart1 {

        margin-bottom: 20px;
    }

}


/* Media queries for different screen sizes */
@media (max-width: 567px) {

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    header {
        font-size: 17px;

    }



}

@media (min-width: 768px) and (max-width: 1023px) {
    header {
        font-size: 20px;
    }
}

/* Additional media queries for larger screens (adjust as needed) */
@media (min-width: 1024px) {
    header {
        font-size: 24px;
    }


}